

.iqamaBox {
    width: 50%;
    background-color: blue;
}

.iqama-table {
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.iqamaBox h1 {
    text-align: center;
}

.salah-name,
.athan-time,
.iqama-time {

    padding: 1rem 0rem 1rem;

}
